name: Coding Standards

on:
  pull_request:
    branches:
      - main

jobs:
  coding-standards:
    name: Coding Standards
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6

      - name: Install PHP
        uses: shivammathur/setup-php@44454db4f0199b8b9685a5d763dc37cbf79108e1 # v2
        with:
          php-version: 8.3
          tools: composer:v2,cs2pr

      - name: Install dependencies with Composer
        uses: ramsey/composer-install@v3
        with:
          composer-options: --prefer-dist --optimize-autoloader

      - name: Check code style
        run: composer phpcs -- --format=checkstyle | cs2pr
