name: Continuous Integration

on:
  pull_request:
    branches:
      - main

jobs:
  phpunit:
    name: PHPUnit
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        php-version:
          - 8.3
          - 8.4
        dependencies:
          - highest
        stability:
          - stable

    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6

      - name: Install PHP with PCOV
        uses: shivammathur/setup-php@44454db4f0199b8b9685a5d763dc37cbf79108e1 # v2
        with:
          php-version: ${{ matrix.php-version }}
          coverage: pcov
          ini-values: zend.assertions=1
          tools: composer:v2,flex

      - name: Enforce using stable dependencies
        run: composer config minimum-stability stable
        if: ${{ matrix.stability == 'stable' }}

      - name: Install dependencies with Composer
        uses: ramsey/composer-install@v3
        with:
          dependency-versions: ${{ matrix.dependencies }}
          composer-options: --prefer-dist --optimize-autoloader

      - name: Run PHPUnit
        run: composer test
